<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/create.css">
  <script type="text/javascript" src="../static/js/events.js"></script>
  <title>CREATE</title>
</head>
<body>
  <header id="header">
    <a href="/"><input type="button" class="button" value="Home"></a>
  </header> 	  
<div id="hospital">
  <p>
  	Give your opinion about hospital by clicking the button below.
  </p>
  <a href="/showHospital"><input class="btn" type="button" name="" value="Review now" onclick='open_page("blank.html")'></a>	
</div>
<div id="restaurant">
  <p>
  	Give your opinion about restaurant by clicking the button below.
  </p>
  <a href="/showRestaurant"><input class="btn" type="button" name="" value="Review now"></a>	
</div>
<div id="institute">
  <p>
  	Give your opinion on institutes by clicking on the button below.
  </p>
  <a href="/showInstitute"><input class="btn" type="button" name="" value="Review now" onclick="open_page('party.html')"></a>	
</div>
</body>
</html>