<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
	<script type="text/javascript" src="../static/js/events.js"></script>
</head>
<body>
 <header id="header">
  <div id='intro'>
    Hey there!Welcome to our website. Give your opinion about hospitals,restaurants and institutes and we will display them!. 	
  </div>
  <a href="/showRegister"><input type="button" class="button" value="Register"></a>
  <a href="/showLogin"><input type="button" class="button1" value="Login"></a> 
 </header> 	
  <div id=create>
    <p>
     Give your review today!!Click the button below.	
    </p>
    <a href="/showCreate"><input class="btn" type="button" name="" value="Review now"></a>
  </div>
  <div id=show>
    <p>
     To see the reviews,Click the button below!!	
    </p>
    <a href="/showResponses"><input class="btn" type="button" name="" value="View Reviews"></a>
  </div>
</body>
</html>