<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="../static/js/events.js"></script>
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<form method="POST" action="/showLoginx">	
<div id="login-box">
 <h1>Login</h1>
 <div class="textbox">
 	<input type="text" placeholder="Username" name="uname" value="">
 </div>
 <div class="textbox">
 	<input type="password" placeholder="Password" name="pword" value="">
	{{resp}}
 </div>	
 <div class="textbox">
	<input type="text" placeholder="Email" name="email" value="">
</div>

 <input class="btn" type="submit" name="submit" value="Login">
</div>
</form>
</body>
</html>