<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<script type="text/javascript" src="../static/js/events.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/register.css">
</head>
<body>
<form method="POST" action="/signUp">
<div id="register-box">
 <h1>Register</h1>
 <div class="textbox">
 	<input type="text" placeholder="Username" name="uname" value="">
 </div>
 <div class="textbox">
 	<input type="email" placeholder="Email" name="email" value="">
 </div>
 <div class="textbox">
	<input type="ortype" placeholder="ortype" name="ortype" value="">
</div>
<div class="textbox">
	<input type="orname" placeholder="orname" name="orname" value="">
</div>
 <div class="textbox">
 	<input type="password" placeholder="Password" name="pword" value="">
 </div>		
  	
 <input class="btn" type="submit" name="" value="Register">
</div>
</form>
</body>
</html>