<!DOCTYPE html>
<html>
    <head>
        <title>REQUEST</title>
        <link rel="stylesheet" type="text/css" href="../static/css/hospital.css">
        <script type="text/javascript" src="../static/js/events.js"></script>
    </head>
<body>
    <header id="header">
        <a href="/showadmin"><input type="button" class="button" value="Logout"></a>
        <a href="/request"><input type="button" value="Show responses" style="position: absolute; top:8px; left:550px;"></a>
    </header>
</body>
</html>