<!DOCTYPE html>
<html>
    <head>
        <title>REQUEST</title>
        <link rel="stylesheet" type="text/css" href="../static/css/hospital.css">
        <script type="text/javascript" src="../static/js/events.js"></script>
    </head>
    <body>

        <header id="header">
            <a href="/showadmin"><input type="button" class="button" value="Logout"></a>
            <a href="/request"><input type="button" value="Show responses" style="position: absolute; top:8px; left:550px;"></a>
        </header>
        {% for i in range(size) %}
        <div id='rev' style="position:relative; top: 100px; left: 130px; margin-top: 30px;">
            <div style="font-size:21px;font: 'Candice';">
                {% set ns = namespace(orgdetails = []) %}
                {% for j in range(0,colcnt) %}
                {% set temp=ns.orgdetails.append(data[i][j]) %}
                {{ colheads[j] }}{{ data[i][j] }}
                <br>
                {% endfor %}
            </div>
            <form action="{{url_for('accdec',oid=ns.orgdetails[0],otype=ns.orgdetails[1],oname=ns.orgdetails[2]) }}" method="POST">
                
                {{ns.orgdetails[1]}}
                {{ns.orgdetails[2]}}
                <br>
                <input type="submit" name="submit" value="Accept">
                <input type="submit" name="submit" value="Decline">
            </form>
            
            
        </div>
        {% endfor %}

    </body>
</html>