<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/create.css">
  <script type="text/javascript" src="../static/js/events.js"></script>
  <title>CREATE</title>
</head>
<body>
  <header id="header">
    <a href="/"><input type="button" class="button" value="Home"></a>
  </header> 	  
<div id="hospital">
  <p>
  	View reviews of hospitals by clicking the button below.
  </p>
  <a href="/showRevHospital"><input class="btn" type="button" name="" value="View Reviews" onclick='open_page("blank.html")'></a>	
</div>
<div id="restaurant">
  <p>
  View reviews of restaurants by clicking the button below.
  </p>
  <a href="/showRevRestaurant"><input class="btn" type="button" name="" value="View Review"></a>	
</div>
<div id="institute">
  <p>
  	View reviews of institutes by clicking on the button below.
  </p>
  <a href="/showRevInstitute"><input class="btn" type="button" name="" value="View Review" onclick="open_page('party.html')"></a>	
</div>
</body>
</html>